<!--<a class="twitter-timeline"
  href="https://twitter.com/hashtag/yuikaori"
  data-widget-id="841111866747236352"
  >
#yuikaori のツイート
</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
-->
<br>

<p>@justice_vsbrのタイムライン</p>
<% @tweets.each do |tw| %>
  <p><%= "#{tw.created_at} : #{tw.text}" %></p>
<% end %>
