.picture
  - if action_name == 'index' || action_name == 'search'
    = link_to image_tag(video.ss_address, class: "my-thumbnail img-rounded modalable"), video, method: :get, remote: true
  
  - if action_name == 'destroy_index' || action_name == 'tmp'
    = image_tag video.ss_address, class: "my-thumbnail img-rounded selectable"
    = check_box_tag 'videos[]', video.id, false, class: 'multiple_checkbox'
    = image_tag 'item/checkmark2.png', class: "checkmark"
