- provide :title, '削除申請'

= form_tag videos_multiple_path do
  #masonry-container.transitions-enabled.centered.clearfix
    .sizer
    .page
      = render @videos
  = paginate @videos
  = render 'footer'
