- provide :title, '表示/削除'

= form_tag tmp_media_contents_path, method: :patch do
  #masonry-container.transitions-enabled.centered.clearfix
    .sizer
    .page
      = render @media_contents
  = paginate @media_contents
  = render 'footer'
