<div class="heading">
  <%= button_to 'ameblo', scrape_ameblo_path, method: :get, class: "btn btn-default" %>
  <%= button_to 'instagram', scrape_instagram_path, method: :get, class: "btn btn-default" %>

  <%= button_to 'twitter', scrape_twitter_path, method: :get, class: "btn btn-default" %>
</div>
