<div class="wrapper">
  <div class="original-image img-responsive">
    <%= image_tag @picture.address, class: "left" %>
  </div>
  <div class="detail">
    <%= render 'form', picture: @picture %>
  </div>
</div>

<%= render 'footer' %>
