<h1>Editing Picture</h1>

<div class="container">
  <%= image_tag @picture.address, class: "left" %>
  <div class="left">
    <%= render 'form', picture: @picture %>
  </div>
</div>

<div class="footer">
  <%= link_to 'Back', pictures_path, class:"link" %>
  <%= link_to 'Show', picture_path(@picture), class:"link" %>
</div>
