/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap-custom';

html{
  height: 100%;
}

body {
  background: -webkit-repeating-linear-gradient(-45deg, #f8bbd0, #f8bbd0 20px, #bbdefb 0, #bbdefb 40px);
  background: -moz-repeating-linear-gradient(-45deg, #f8bbd0, #f8bbd0 20px, #bbdefb 0, #bbdefb 40px);
  background: repeating-linear-gradient(-45deg, #f8bbd0, #f8bbd0 20px, #bbdefb 0, #bbdefb 40px);
  height: 100%;
}

section {
  padding-top: 70px;
  padding-bottom: 30px;
}

ul .pagination {
  margin-top: 5px;
}

.btn {
  margin-top: 5px;
  margin-right: 15px;
}

.wrapper {
  margin: 2em auto;
  padding: 0 1em;
  max-width: 80%;
}

.form-control {
  height: 2em;
  width: 10em;
}

.heading {
  text-align: center;
  padding-top: 1em;
  p {
    font-size: 20px;
  }
}
