/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: -webkit-repeating-linear-gradient(-45deg, #f8bbd0, #f8bbd0 20px, #bbdefb 0, #bbdefb 40px);
  background: -moz-repeating-linear-gradient(-45deg, #f8bbd0, #f8bbd0 20px, #bbdefb 0, #bbdefb 40px);
  background: repeating-linear-gradient(-45deg, #f8bbd0, #f8bbd0 20px, #bbdefb 0, #bbdefb 40px);
}

header {
position: fixed;
background-color: #eee8aa;
top: 0;
left: 0;
width: 100%;
height: 30px;
z-index: 2;
}

header nav {
float: right;
margin: 5px 50px 5px 0;
font-size: 15px;
}

.section {
padding-top: 30px;
padding-bottom: 30px;
}

footer {
position: fixed;
background-color: #eee8aa;
bottom: 0;
left: 0;
width: 100%;
height: 30px;
}

footer .pagination {
float: left;
margin: 5px 0 5px 50px;
font-size: 15px;
}

footer .link {
float: right;
margin: 5px 50px 5px 0;
font-size: 15px;
}

footer .button {
float: right;
margin: 3px 50px 3px 0;
font-size: 15px;
}
