/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'bootstrap'
 *= require 'bootstrap-tagsinput'
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

html{
  height: 100%;
}

body {
  background: -webkit-repeating-linear-gradient(to right bottom, #f8bbd0, #bbdefb);
  background: -moz-repeating-linear-gradient(to right bottom, #f8bbd0, #bbdefb);
  background: repeating-linear-gradient(to right bottom, #f8bbd0, #bbdefb);
  background-attachment: fixed;
  height: 100%;
}

section {
  padding-top: 70px;
  padding-bottom: 50px;
}

ul.pagination {
  opacity: 0;
}

.btn {
  margin-top: 5px;
  margin-right: 15px;
}

.wrapper {
  margin: 2em auto;
  padding: 0 1em;
  max-width: 80%;
}

.form-control {
  display: inline-block;
  text-align: center;
  height: 2em;
  width: 12em;
}

.heading {
  text-align: center;
  padding-top: 1em;
  p {
    font-size: 20px;
  }
}

input[type=text], input[type=url]{
  border: none;
  border-bottom: medium groove;
  text-align: center;
}
input[type=url] {
  width: 30em;
}
