- provide :title, 'アカウント編集/削除'

%h2
  Edit #{resource_name.to_s.humanize}
/
  今はTwitterアカウントで認証できればそれだけでOKにする予定なので、editするような情報もない。今後は変わる可能性もある
  <haml_loud> form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| </haml_loud><haml_block>
  <haml_loud> devise_error_messages! </haml_loud>
  
  <div class="field">
  <haml_loud> f.label :email </haml_loud><br />
  <haml_loud> f.email_field :email, autofocus: true </haml_loud>
  </div>
  
  <haml_silent>   if devise_mapping.confirmable? &amp;&amp; resource.pending_reconfirmation?
  </haml_silent><haml_block>    <div>Currently waiting confirmation for: <haml_loud> resource.unconfirmed_email </haml_loud></div>
  </haml_block>
  <div class="field">
  <haml_loud> f.label :password </haml_loud> <i>(leave blank if you don't want to change it)</i><br />
  <haml_loud> f.password_field :password, autocomplete: &quot;off&quot; </haml_loud>
  <haml_silent>     if @minimum_password_length
  </haml_silent><haml_block>      <br />
  <em><haml_loud> @minimum_password_length </haml_loud> characters minimum</em>
  </haml_block>  </div>
  
  <div class="field">
  <haml_loud> f.label :password_confirmation </haml_loud><br />
  <haml_loud> f.password_field :password_confirmation, autocomplete: &quot;off&quot; </haml_loud>
  </div>
  
  <div class="field">
  <haml_loud> f.label :current_password </haml_loud> <i>(we need your current password to confirm your changes)</i><br />
  <haml_loud> f.password_field :current_password, autocomplete: &quot;off&quot; </haml_loud>
  </div>
  
  <div class="actions">
  <haml_loud> f.submit &quot;Update&quot; </haml_loud>
  </div>
  </haml_block>
= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-default'
= link_to "Back", :back
